nuxeo-webengine/nuxeo-webengine-sites/src/main/resources/schemas/webpage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://project.nuxeo.org/schemas/webengine/site/sites/webpage"
  xmlns:tns="http://project.nuxeo.org/schemas/webengine/site/wiki/webpage"
  elementFormDefault="qualified">
  <element name="pushtomenu" type="boolean"></element>
  <element name="template" type="string"></element>
  <element name="tags" type="string"></element>
  <element name="content" type="string"></element>  
  <element name="theme" type="string"/>
  <element name="themePage" type="string"/>
  <element name="themePerspective" type="string"/>
  
</schema>