nuxeo-platform-jbpm/nuxeo-platform-jbpm-core/src/main/resources/schemas/task.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/task/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:task="http://www.nuxeo.org/ecm/schemas/task/">
	<xs:element name="task" type="xs:integer"/>
	<xs:element name="wf" type="xs:integer"/>
	<xs:complexType name="comments">
	  <xs:sequence>
	    <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
	<xs:complexType name="documents">
	  <xs:sequence>
	    <xs:element name="docId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	  </xs:sequence>
	</xs:complexType>
</xs:schema>