nuxeo-features/nuxeo-platform-search-compass-plugin/src/test/resources/schema/domain.xsd

<?xml version="1.0"?>

<xs:schema
	targetNamespace="http://www.nuxeo.org/ecm/schemas/domain/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/schemas/domain/"
	>

  <xs:complexType name="contentRoots">
    <xs:sequence>
      <xs:element name="contentRoot" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="display_type" type="xs:boolean" default="false"/>
  <xs:element name="content_roots" type="nxs:contentRoots"/>
</xs:schema>