nuxeo-core-test/src/test/resources/schemas/book.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/Book"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/Book"
  >

  <xs:include schemaLocation="mylib.xsd"/>

  <xs:element name="title" type="xs:string"/>
  <xs:element name="price" type="xs:long"/>
  <xs:element name="author" type="nxs:Person"/>

</xs:schema>


