nuxeo-platform-types-core/src/main/resources/schemas/ui_types_configuration.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/typesConfiguration/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/typesConfiguration/">

  <xs:simpleType name="typeList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="allowedTypes" type="nxs:typeList"/>
  <xs:element name="deniedTypes" type="nxs:typeList"/>
  <xs:element name="denyAllTypes" type="xs:boolean"/>
  <xs:element name="defaultType" type="xs:string" />

</xs:schema>
