nuxeo-platform-video-core/src/main/resources/schemas/externalvideo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nxs="http://www.nuxeo.org/ecm/schemas/externalvideo"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/externalvideo">

  <xs:element name="externalId" type="xs:string" />
  <xs:element name="videoProviderName" type="xs:string" />
  <xs:element name="status" type="xs:string" />

</xs:schema>
