modules/platform/nuxeo-platform-directory/nuxeo-platform-directory-ldap/src/test/resources/ldapdirectoryschema/user_profile.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/user_profile"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/user_profile">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="id" type="xs:string" />
  <xs:element name="title" type="xs:string" />

  <!-- references -->
  <xs:element name="users" type="nxs:stringList" />

</xs:schema>
