nuxeo-features/nuxeo-platform-wiki/nuxeo-platform-wiki-webengine/src/main/resources/schemas/wiki-page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://project.nuxeo.org/schemas/webengine/site/wiki/page"
    xmlns:tns="http://project.nuxeo.org/schemas/webengine/site/wiki/page"
    elementFormDefault="qualified">

  <element name="category" type="string"></element>
  <element name="content" type="string"></element>
  <element name="content-syntax" type="string"></element>

</schema>