modules/core/nuxeo-core/src/main/resources/schema/relation.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/relation/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/relation/">

  <xs:simpleType name="longString">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10000" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="predicate" type="xs:string" />
  <xs:element name="source" type="xs:string" />
  <xs:element name="sourceUri" type="xs:string" />
  <xs:element name="target" type="xs:string" />
  <xs:element name="targetUri" type="xs:string" />
  <xs:element name="targetString" type="nxs:longString" />

</xs:schema>
