src/main/resources/schemas/templatesupport.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/nxts/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/nxts/"
  >

  <xs:element name="templateId" type="xs:string"/>
  <xs:element name="templateData" type="xs:string"/>
  
  <xs:element name="useMainContentAsTemplate" type="xs:boolean"/>

</xs:schema>