addons/nuxeo-multi-tenant/nuxeo-multi-tenant-core/src/main/resources/schemas/multi_tenant_l10nvocabulary.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/l10nvocabulary"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="id" type="xs:string"/>
  <xs:element name="label_en" type="xs:string"/>
  <xs:element name="label_fr" type="xs:string"/>
  <xs:element name="obsolete" type="xs:integer" default="0"/>
  <xs:element name="ordering" type="xs:integer" default="10000000"/>

  <!-- multi tenant -->
  <xs:element name="tenantId" type="xs:string"/>

</xs:schema>
