nuxeo-features/nuxeo-platform-comment/nuxeo-platform-comment/src/main/resources/schema/comment.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/comment"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nxs="http://www.nuxeo.org/ecm/schemas/comment">

  <xs:element name="author" type="xs:string"/>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="creationDate" type="xs:date"/>
</xs:schema>