src/test/resources/OSGI-INF/schemas/xmp.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/xmp/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/xmp/">

  <xs:element name="BitsPerSample" type="xs:string" />
  <xs:element name="ImageWidth" type="xs:string" />
  <xs:element name="ImageLength" type="xs:string" />
  <xs:element name="NPages" type="xs:string" />
  <xs:element name="CreatorTool" type="xs:string" />

</xs:schema>


