nuxeo-features/nuxeo-user-center/nuxeo-user-settings/nuxeo-user-settings-core/src/main/resources/schemas/navigationSettings.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.core/ecm/schemas/usersettings"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="homePage" type="xs:string" />
  <xs:element name="pagination" type="xs:string" />
  <xs:element name="fullNavigation" type="xs:boolean" />
</xs:schema>



