modules/platform/nuxeo-platform-directory/nuxeo-platform-directory-sql/src/test/resources/sqldirectoryschema/filterschema.xsd

<?xml version="1.0"?>
<xs:schema
    targetNamespace="http://www.nuxeo.org/ecm/schemas/filterschema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <xs:element name="id" type="xs:string"/>
    <xs:element name="label" type="xs:string"/>
    <xs:element name="lang" type="xs:string"/>
    <xs:element name="type" type="xs:string"/>

</xs:schema>
