nuxeo-webengine-wiki/src/main/resources/schemas/blog-post.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://project.nuxeo.org/schemas/webengine/site/blog/post"
    xmlns:tns="http://project.nuxeo.org/schemas/webengine/site/blog/post">

    <element name="content" type="string"></element>
    <element name="content-format" type="string"></element>
    <element name="accept-comment" type="boolean"></element>
    <element name="accept-trackback" type="boolean"></element>

</schema>
