modules/core/nuxeo-core-test/src/test/resources/schema/deprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/test/v1/deprecated" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/test/v1/deprecated">

 <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
 </xs:simpleType>

  <xs:element name="fieldA" type="nxs:stringList"/>
  <xs:element name="fieldB" type="xs:string"/>
  <xs:element name="fieldC" type="xs:string"/>
  <xs:element name="fieldD" type="xs:string"/>

</xs:schema>
