modules/core/nuxeo-core-test/src/test/resources/schema/new.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/test/v2/new" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/test/v2/new">

  <xs:element name="X" type="xs:string"/>
  <xs:element name="Y" type="xs:string"/>
  <xs:element name="Z" type="xs:string"/>

</xs:schema>
