modules/platform/nuxeo-easyshare-core/src/main/resources/data/schemas/easysharefolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/easyshare/easysharefolder"
  targetNamespace="http://www.nuxeo.org/ecm/project/schemas/easyshare/easysharefolder">
  <xs:element name="contactEmail" type="xs:string" />
  <xs:element name="shareComment" type="xs:string" />
  <xs:element name="hasNotification" type="xs:boolean" default="true" />
</xs:schema>
