addons/nuxeo-tree-snapshot/nuxeo-tree-snapshot-core/src/main/resources/schemas/snapshot.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/snapshot/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/snapshot/"
  >

  <xs:simpleType name="childrenList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="children" type="nxs:childrenList"/>
  <xs:element name="originalName" type="xs:string"/>

</xs:schema>