nuxeo-features/nuxeo-admin-center/nuxeo-admin-center-core/src/main/resources/schemas/permissions_search.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/permissionssearch/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/permissionssearch/">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="ace_username" type="nxs:stringList" />
  <xs:element name="ace_creator" type="nxs:stringList" />
  <xs:element name="ace_permission" type="nxs:stringList" />
  <xs:element name="ace_acl_name" type="xs:string" />
  <xs:element name="ace_begin" type="xs:date" />
  <xs:element name="ace_end" type="xs:date" />
  <xs:element name="ecm_ancestorIds" type="nxs:stringList"/>

</xs:schema>
