nuxeo-platform-queue/nuxeo-platform-queue-core/src/main/resources/schemas/queueitem.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/queueitem/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nxs="http://www.nuxeo.org/ecm/schemas/queueitem/">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="owner" type="xs:string" />
  <xs:element name="serverId" type="xs:string" />
  <xs:element name="executeTime" type="xs:date" />
  <xs:element name="executionCount" type="xs:integer" />
  <xs:element name="blacklistTime" type="xs:date" />

  <xs:element name="content" type="nxs:content" />

</xs:schema>