nuxeo-platform-signature-api/src/main/resources/schemas/cert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.com/nyse/lcs" targetNamespace="http://www.nuxeo.com/nyse/lcs">

  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="userID" type="xs:string"></xs:element>
  <xs:element name="created" type="xs:date"></xs:element>
  <xs:element name="revoked" type="xs:date"></xs:element>
  <xs:element name="cert" type="xs:base64Binary"></xs:element>
</xs:schema>