nuxeo-platform-relations/nuxeo-platform-relations-web/src/main/resources/schemas/relation_search.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/relation_search/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/relation_search/">

  <xs:include schemaLocation="base.xsd" />

  <xs:element name="ecm_path" type="nxs:stringList"/>
  <xs:element name="dc_title" type="xs:string" />
  <xs:element name="ecm_fulltext" type="xs:string" />
  <xs:element name="currentLifeCycleState" type="xs:string" default=" " />

</xs:schema>
