addons/nuxeo-audit-storage-directory/src/main/resources/schemas/audit.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/audit"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/audit">

  <xs:include schemaLocation="base.xsd" />

  <xs:simpleType name="clob">
    <xs:restriction base="xs:string">
      <xs:maxLength value="999999999" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="id" type="xs:integer" />
  <xs:element name="entry" type="nxs:clob" />

</xs:schema>
