addons/nuxeo-multi-tenant/src/main/resources/schemas/multi_tenant_vocabulary.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://www.nuxeo.org/ecm/schemas/vocabulary"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="id" type="xs:string"/>
  <xs:element name="label" type="xs:string"/>
  <xs:element name="obsolete" type="xs:integer" default="0"/>
  <xs:element name="ordering" type="xs:integer" default="10000000"/>

  <!-- multi tenant -->
  <xs:element name="tenantId" type="xs:string"/>

</xs:schema>
