nuxeo-core/nuxeo-core/src/main/resources/schema/note.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/note/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/note/">

  <xs:include schemaLocation="core-types.xsd"/>
  <xs:simpleType name="clob">
    <xs:restriction base="xs:string">
      <xs:maxLength value="999999999" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="note" type="nxs:clob"/>
  <xs:element name="mime_type" type="xs:string"/>

</xs:schema>
