nuxeo-core/nuxeo-core/src/main/resources/schema/note.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/note/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/note/">

  <xs:include schemaLocation="core-types.xsd"/>

  <xs:element name="note" type="xs:string"/>
  <xs:element name="mime_type" type="xs:string"/>

  <xs:element name="stylesheet_filename" type="xs:string" />
  <xs:element name="stylesheet_content" type="nxs:content" />

  <xs:element name="transform_result" type="nxs:content"/>

</xs:schema>