nuxeo-core/nuxeo-core/src/main/resources/schema/publish_ergo.xsd

<?xml version="1.0"?>

<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/publish_ergo/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/publish_ergo/">

  <xs:complexType name="sectionIds">
    <xs:sequence>
      <xs:element name="item" type="xs:string" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="sections" type="nxs:sectionIds"/>

</xs:schema>


