nuxeo-services/nuxeo-platform-filemanager-core-listener/src/test/resources/schema/simpleblob.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/filemanager/core/listener/test/simpleblob"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/filemanager/core/listener/test/simpleblob">

  <xs:complexType name="content">
    <xs:sequence>
	  <xs:element name="encoding" type="xs:string"/>
      <xs:element name="mime-type" type="xs:string"/>
      <xs:element name="data" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="blobname" type="xs:string" />
  <xs:element name="blob" type="nxs:content" />

</xs:schema>


