nuxeo-features/nuxeo-opensocial/nuxeo-opensocial-gadgets-core/src/main/resources/schemas/externalGadget.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/opensocial/externalgadget"
  xmlns:externalgadget="http://nuxeo.org/schemas/opensocial/externalgadgetsnamespace">

  <xs:element name="id" type="xs:string"/>
  <xs:element name="label" type="xs:string"/>
  <xs:element name="enabled" type="xs:integer" default="1"/>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="url" type="xs:string"/>
  <xs:element name="iconUrl" type="xs:string"/>

</xs:schema>
