modules/platform/nuxeo-signature/nuxeo-platform-signature-core/src/main/resources/schemas/cert.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/cert"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/cert">

 <xs:simpleType name="store">
  <xs:restriction base="xs:string">
   <xs:maxLength value="8192"/>
  </xs:restriction>
 </xs:simpleType>

  <xs:element name="userid" type="xs:string"/>
  <xs:element name="certificate" type="xs:string"/>
  <xs:element name="keypassword" type="xs:string"/>
  <xs:element name="startdate" type="xs:date" />
  <xs:element name="enddate" type="xs:date" />
  <xs:element name="revocationdate" type="xs:date" />
  <xs:element name="keystore" type="nxs:store"/>
</xs:schema>