addons/nuxeo-platform-user-registration/nuxeo-platform-user-registration-core/src/main/resources/schemas/docinfo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nuxeo.org/schemas/docinfo">

  <xs:element name="documentId" type="xs:string"/>
  <xs:element name="documentTitle" type="xs:string"/>
  <xs:element name="permission" type="xs:string"/>
  <xs:element name="creator" type="xs:string"/>
  <xs:element name="begin" type="xs:date"/>
  <xs:element name="end" type="xs:date"/>

</xs:schema>
