nuxeo-core-storage-jcr/nuxeo-core-jcr-connector-test/src/test/resources/schema/core-types.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="content">
    <xs:sequence>
      <xs:element name="encoding" type="xs:string" />
      <xs:element name="mime-type" type="xs:string" />
      <xs:element name="data" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>


