nuxeo-dam-jsf/src/main/resources/schemas/ip_rights.xsd

<?xml version="1.0"?>

<xs:schema
  targetNamespace="http://www.nuxeo.org/dam/schemas/ipRights/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/dam/schemas/ipRights/">

  <xs:element name="media_type" type="xs:string"/>
  <xs:element name="geo_broadcast" type="xs:string"/>
  <xs:element name="copyright_holder" type="xs:string"/>
  <xs:element name="licence" type="xs:string"/>
  <xs:element name="embargo_date" type="xs:date"/>
  <xs:element name="expiration_date" type="xs:date"/>

</xs:schema>
