nuxeo-features/nuxeo-platform-oauth/src/main/resources/schemas/oauth2client.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/oauth2/provider"
  xmlns:oauth2client="http://nuxeo.org/schemas/oauth2/client">

  <xs:element name="id" type="xs:integer"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="clientId" type="xs:string"/>
  <xs:element name="clientSecret" type="xs:string"/>
  <xs:element name="redirectURIs" type="xs:string"/>
  <xs:element name="autoGrant" type="xs:boolean"/>

  <xs:element name="enabled" type="xs:boolean" default="true"/>
</xs:schema>
