src/test/resources/data/nuxeoremoting.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.platform.ecm.nuxeo.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.platform.ecm.nuxeo.org/" name="NuxeoRemotingService">
<message name="getGroups">
<part name="parameters" element="tns:getGroups" />
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse" />
</message>
<message name="ClientException">
<part name="fault" element="tns:ClientException" />
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers" />
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse" />
</message>
<message name="getChildren">
<part name="parameters" element="tns:getChildren" />
</message>
<message name="getChildrenResponse">
<part name="parameters" element="tns:getChildrenResponse" />
</message>
<message name="hasPermission">
<part name="parameters" element="tns:hasPermission" />
</message>
<message name="hasPermissionResponse">
<part name="parameters" element="tns:hasPermissionResponse" />
</message>
<message name="getDocument">
<part name="parameters" element="tns:getDocument" />
</message>
<message name="getDocumentResponse">
<part name="parameters" element="tns:getDocumentResponse" />
</message>
<message name="getRootDocument">
<part name="parameters" element="tns:getRootDocument" />
</message>
<message name="getRootDocumentResponse">
<part name="parameters" element="tns:getRootDocumentResponse" />
</message>
<message name="getSourceDocument">
<part name="parameters" element="tns:getSourceDocument" />
</message>
<message name="getSourceDocumentResponse">
<part name="parameters" element="tns:getSourceDocumentResponse" />
</message>
<message name="getRepositoryName">
<part name="parameters" element="tns:getRepositoryName" />
</message>
<message name="getRepositoryNameResponse">
<part name="parameters" element="tns:getRepositoryNameResponse" />
</message>
<message name="getVersions">
<part name="parameters" element="tns:getVersions" />
</message>
<message name="getVersionsResponse">
<part name="parameters" element="tns:getVersionsResponse" />
</message>
<message name="getCurrentVersion">
<part name="parameters" element="tns:getCurrentVersion" />
</message>
<message name="getCurrentVersionResponse">
<part name="parameters" element="tns:getCurrentVersionResponse" />
</message>
<message name="listUsers">
<part name="parameters" element="tns:listUsers" />
</message>
<message name="listUsersResponse">
<part name="parameters" element="tns:listUsersResponse" />
</message>
<message name="getDocumentACL">
<part name="parameters" element="tns:getDocumentACL" />
</message>
<message name="getDocumentACLResponse">
<part name="parameters" element="tns:getDocumentACLResponse" />
</message>
<message name="getDocumentSnapshot">
<part name="parameters" element="tns:getDocumentSnapshot" />
</message>
<message name="getDocumentSnapshotResponse">
<part name="parameters" element="tns:getDocumentSnapshotResponse" />
</message>
<message name="getDocumentSnapshotExt">
<part name="parameters" element="tns:getDocumentSnapshotExt" />
</message>
<message name="getDocumentSnapshotExtResponse">
<part name="parameters" element="tns:getDocumentSnapshotExtResponse" />
</message>
<message name="getDocumentLocalACL">
<part name="parameters" element="tns:getDocumentLocalACL" />
</message>
<message name="getDocumentLocalACLResponse">
<part name="parameters" element="tns:getDocumentLocalACLResponse" />
</message>
<message name="getDocumentBlobs">
<part name="parameters" element="tns:getDocumentBlobs" />
</message>
<message name="getDocumentBlobsResponse">
<part name="parameters" element="tns:getDocumentBlobsResponse" />
</message>
<message name="getDocumentBlobsExt">
<part name="parameters" element="tns:getDocumentBlobsExt" />
</message>
<message name="getDocumentBlobsExtResponse">
<part name="parameters" element="tns:getDocumentBlobsExtResponse" />
</message>
<message name="listGroups">
<part name="parameters" element="tns:listGroups" />
</message>
<message name="listGroupsResponse">
<part name="parameters" element="tns:listGroupsResponse" />
</message>
<message name="getDocumentProperties">
<part name="parameters" element="tns:getDocumentProperties" />
</message>
<message name="getDocumentPropertiesResponse">
<part name="parameters" element="tns:getDocumentPropertiesResponse" />
</message>
<message name="getDocumentNoBlobProperties">
<part name="parameters" element="tns:getDocumentNoBlobProperties" />
</message>
<message name="getDocumentNoBlobPropertiesResponse">
<part name="parameters" element="tns:getDocumentNoBlobPropertiesResponse" />
</message>
<message name="getRelativePathAsString">
<part name="parameters" element="tns:getRelativePathAsString" />
</message>
<message name="getRelativePathAsStringResponse">
<part name="parameters" element="tns:getRelativePathAsStringResponse" />
</message>
<message name="uploadDocument">
<part name="parameters" element="tns:uploadDocument" />
</message>
<message name="uploadDocumentResponse">
<part name="parameters" element="tns:uploadDocumentResponse" />
</message>
<message name="connect">
<part name="parameters" element="tns:connect" />
</message>
<message name="connectResponse">
<part name="parameters" element="tns:connectResponse" />
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect" />
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse" />
</message>
<message name="connectOnRepository">
<part name="parameters" element="tns:connectOnRepository" />
</message>
<message name="connectOnRepositoryResponse">
<part name="parameters" element="tns:connectOnRepositoryResponse" />
</message>
<portType name="NuxeoRemotingInterface">
<operation name="getGroups">
<input message="tns:getGroups" />
<output message="tns:getGroupsResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getUsers">
<input message="tns:getUsers" />
<output message="tns:getUsersResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getChildren">
<input message="tns:getChildren" />
<output message="tns:getChildrenResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="hasPermission">
<input message="tns:hasPermission" />
<output message="tns:hasPermissionResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocument">
<input message="tns:getDocument" />
<output message="tns:getDocumentResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getRootDocument">
<input message="tns:getRootDocument" />
<output message="tns:getRootDocumentResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getSourceDocument">
<input message="tns:getSourceDocument" />
<output message="tns:getSourceDocumentResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getRepositoryName">
<input message="tns:getRepositoryName" />
<output message="tns:getRepositoryNameResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getVersions">
<input message="tns:getVersions" />
<output message="tns:getVersionsResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getCurrentVersion">
<input message="tns:getCurrentVersion" />
<output message="tns:getCurrentVersionResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="listUsers">
<input message="tns:listUsers" />
<output message="tns:listUsersResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentACL">
<input message="tns:getDocumentACL" />
<output message="tns:getDocumentACLResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentSnapshot">
<input message="tns:getDocumentSnapshot" />
<output message="tns:getDocumentSnapshotResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentSnapshotExt">
<input message="tns:getDocumentSnapshotExt" />
<output message="tns:getDocumentSnapshotExtResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentLocalACL">
<input message="tns:getDocumentLocalACL" />
<output message="tns:getDocumentLocalACLResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentBlobs">
<input message="tns:getDocumentBlobs" />
<output message="tns:getDocumentBlobsResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentBlobsExt">
<input message="tns:getDocumentBlobsExt" />
<output message="tns:getDocumentBlobsExtResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="listGroups">
<input message="tns:listGroups" />
<output message="tns:listGroupsResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentProperties">
<input message="tns:getDocumentProperties" />
<output message="tns:getDocumentPropertiesResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getDocumentNoBlobProperties">
<input message="tns:getDocumentNoBlobProperties" />
<output message="tns:getDocumentNoBlobPropertiesResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="getRelativePathAsString">
<input message="tns:getRelativePathAsString" />
<output message="tns:getRelativePathAsStringResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="uploadDocument">
<input message="tns:uploadDocument" />
<output message="tns:uploadDocumentResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="connect">
<input message="tns:connect" />
<output message="tns:connectResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="disconnect">
<input message="tns:disconnect" />
<output message="tns:disconnectResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
<operation name="connectOnRepository">
<input message="tns:connectOnRepository" />
<output message="tns:connectOnRepositoryResponse" />
<fault message="tns:ClientException" name="ClientException" />
</operation>
</portType>
<binding name="NuxeoRemotingInterfacePortBinding" type="tns:NuxeoRemotingInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="hasPermission">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getRootDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getSourceDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getRepositoryName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getVersions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getCurrentVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="listUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentACL">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentSnapshot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentSnapshotExt">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentLocalACL">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentBlobs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentBlobsExt">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="listGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getDocumentNoBlobProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="getRelativePathAsString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="uploadDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="connect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="disconnect">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
<operation name="connectOnRepository">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ClientException">
<soap:fault name="ClientException" use="literal" />
</fault>
</operation>
</binding>
<service name="NuxeoRemotingService">
<port name="NuxeoRemotingInterfacePort" binding="tns:NuxeoRemotingInterfacePortBinding">
<soap:address location="http://127.0.0.1:8080/nuxeo/webservices/nuxeoremoting" />
</port>
</service>
</definitions>