nuxeo-platform-signature-core/src/main/resources/schemas/cert.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/cert"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/cert">

  <xs:element name="username" type="xs:string"/>
  <xs:element name="creationDate" type="xs:date" />
  <xs:element name="revocationDate" type="xs:date" />
  <xs:element name="privatekey" type="xs:base64Binary"/>
  <xs:element name="certificate" type="xs:base64Binary"/>

</xs:schema>