nuxeo-platform-signature-core/src/main/resources/schemas/keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.com/signature/keys" targetNamespace="http://www.nuxeo.com/signature/keys">

  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="userID" type="xs:string"></xs:element>
  <xs:element name="prvKey" type="xs:base64Binary"></xs:element>
  <xs:element name="pubKey" type="xs:base64Binary"></xs:element>
</xs:schema>