nuxeo-platform-dublincore/src/test/resources/schema/schema2.xsd

<?xml version="1.0"?>

<xs:schema
	targetNamespace="http://www.nuxeo.org/ecm/schemas/Test2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/schemas/Test2">

	<xs:simpleType name="myString2">
	  <xs:restriction base="xs:string">
	    <xs:pattern value="[a-z]"/>
	  </xs:restriction>
	</xs:simpleType>


	<xs:element name="title" type="nxs:myString2"/>
	<xs:element name="description" type="xs:string"/>

</xs:schema>


