modules/platform/nuxeo-platform-query-api/src/test/resources/schemas/named_param.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/common/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/common/">

  <xs:element name="title" type="xs:string" />
  <xs:element name="isCheckedIn" type="xs:boolean" />
  <xs:element name="dateMin" type="xs:date"/>
  <xs:element name="dateMax" type="xs:date"/>

</xs:schema>
