nuxeo-platform-login/nuxeo-platform-login-deputy/src/main/resources/schemas/deputies.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/common/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/common/">

  <xs:element name="id" type="xs:string" />
  <xs:element name="userid" type="xs:string"/>
  <xs:element name="deputy" type="xs:string"/>
  <xs:element name="validateDate" type="xs:boolean" default="false" />
  <xs:element name="validityStartDate" type="xs:date"/>
  <xs:element name="validityEndDate" type="xs:date"/>

</xs:schema>
