modules/platform/nuxeo-platform-directory/nuxeo-platform-directory-multi/src/test/resources/test-multidir/schemas/schema3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.nuxeo.org/ecm/schemas/test">

  <xs:element name="uid" type="xs:string" />
  <xs:element name="thepass" type="xs:string" />
  <xs:element name="thefoo" type="xs:string" />
  <xs:element name="thebar" type="xs:string" />

</xs:schema>
