nuxeo-features/nuxeo-platform-tag-service/nuxeo-platform-tag-core/src/main/resources/schemas/tag.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/tag/schemas/tag"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:nxs="http://www.nuxeo.org/ecm/tag/schemas/tag">
  <xs:element name="label" type="xs:string"/>
  <!-- <xs:element name="id" type="xs:string"/> document id -->
  <!-- <xs:element name="meaning-id" type="xs:string"/> future extension?  foreign key -->
  <xs:element name="private" type="xs:boolean" default="false" /> <!-- public/private -->
</xs:schema>
