addons/nuxeo-apidoc-server/nuxeo-apidoc-core/src/main/resources/schemas/nxdistribution.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/nxdistribution"
  xmlns:nxdistribution="http://nuxeo.org/schemas/nxdistribution">

  <xs:element name="name" type="xs:string"/>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="key" type="xs:string"/>

</xs:schema>