nuxeo-features/nuxeo-opensocial/nuxeo-spaces-core/src/main/resources/schemas/space.xsd

<?xml version="1.0"?>

<xs:schema
	targetNamespace="http://www.nuxeo.org/ecm/schemas/space"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/schemas/space">

	<xs:element name="theme" type="xs:string"></xs:element>
	<xs:element name="audience" type="xs:string"></xs:element>
	<xs:element name="categoryId" type="xs:string"></xs:element>
	<xs:element name="layout" type="xs:string"></xs:element>
	<xs:element name="versionnable" type="xs:boolean"></xs:element>

</xs:schema>