nuxeo-services/nuxeo-platform-directory/nuxeo-platform-directory-core/src/test/resources/core/schema1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.nuxeo.org/ecm/schemas/test">

  <xs:element name="uid" type="xs:string" />
  <xs:element name="password" type="xs:string" />
  <xs:element name="foo" type="xs:string" />
  <xs:element name="bar" type="xs:string" />

</xs:schema>
