nuxeo-services/nuxeo-invite/src/main/resources/schemas/registration.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://nuxeo.org/schemas/registration"
    >

  <xs:element name="validationMethod" type="xs:string"/>
  <xs:element name="accepted" type="xs:boolean"/>
  <xs:element name="copyTo" type="xs:string" />
  <xs:element name="comment" type="xs:string" />
  <xs:element name="originatingUser" type="xs:string" />

</xs:schema>
