nuxeo-services/nuxeo-invite/src/main/resources/schemas/userinfo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:nxs="http://nuxeo.org/schemas/userinfo"
           targetNamespace="http://nuxeo.org/schemas/userinfo">

  <xs:element name="login" type="xs:string"/>
  <xs:element name="password" type="xs:string"/>
  <xs:element name="firstName" type="xs:string"/>
  <xs:element name="lastName" type="xs:string"/>
  <xs:element name="company" type="xs:string"/>
  <xs:element name="email" type="xs:string"/>

</xs:schema>
