nuxeo-platform-user-registration-core/src/main/resources/schemas/registrationrules.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/registration"
  xmlns:nxs="http://nuxeo.org/schemas/registration">

  <xs:element name="allowUserCreation" type="xs:boolean" default="true" />
  <xs:element name="allowDirectValidationForExistingUser" type="xs:boolean" default="false" />
  <xs:element name="forceRightAssignment" type="xs:boolean" default="false" />
  <xs:element name="displayLocalRegistrationTab" type="xs:boolean" default="true" />
  <xs:element name="useEmailAsLogin" type="xs:boolean" default="false" />

</xs:schema>
