modules/platform/nuxeo-automation/nuxeo-automation-scripting/src/test/resources/schemas/list.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/list/"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/list/">

  <xs:simpleType name="itemsList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="items" type="nxs:itemsList"/>

  <xs:complexType name="complex">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="complexItem" type="nxs:complex"/>

</xs:schema>
