nuxeo-platform-heartbeat-core/src/main/resources/schemas/heartbeatserver.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/heartbeatserver/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/heartbeatserver/">
  <xs:element name="serverId" type="xs:string" />
  <xs:element name="updateTime" type="xs:date" />
  <xs:element name="startTime" type="xs:date" />
</xs:schema>