addons/nuxeo-apidoc-server/nuxeo-apidoc-repo/src/main/resources/schemas/nxgraph.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/nxseam"
  xmlns:nxseam="http://nuxeo.org/schemas/nxseam">

  <xs:complexType name="stringList">
    <xs:sequence>
      <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="componentName" type="xs:string"/>
  <xs:element name="scope" type="xs:string"/>
  <xs:element name="precedence" type="xs:string"/>
  <xs:element name="className" type="xs:string"/>
  <xs:element name="interfaces" type="nxseam:stringList"/>

</xs:schema>