nuxeo-target-platforms-core/src/main/resources/schemas/target_platform_override.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/vocabulary"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="id" type="xs:string" />
  <xs:element name="enabled" type="xs:integer" default="-1" />
  <xs:element name="restricted" type="xs:integer" default="-1" />

</xs:schema>