nuxeo-core/nuxeo-core-test/src/test/resources/schema/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/test/v1/invoice" targetNamespace="http://www.nuxeo.org/ecm/project/schemas/test/v2/invoice">
  <xs:element name="Customer" type="xs:string"/>
  <xs:element name="InvoiceAmount" type="xs:string"/>
  <xs:element name="InvoiceDate" type="xs:date"/>
  <xs:element name="InvoiceNumber" type="xs:string"/>
  <xs:element name="PONumber" type="xs:string"/>
</xs:schema>
