nuxeo-core/nuxeo-core-test/src/test/resources/schema/virusscaninfo.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/cap/schemas/virusScan/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/cap/schemas/virusScan/">

  <xs:element name="scanStatus" type="xs:string" default="false"/>
  <xs:element name="scanDate" type="xs:date" />
  <xs:element name="scanInfo" type="xs:string" default="" />
  <xs:element name="virusFree" type="xs:boolean" default="false" />

</xs:schema>
