addons/nuxeo-diff/nuxeo-diff-test/src/main/resources/schema/simpletypes.xsd

<?xml version="1.0"?>

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/simpletypes/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/simpletypes/">

  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="string" type="xs:string" />
  <xs:element name="textarea" type="xs:string" />
  <xs:element name="boolean" type="xs:boolean" />
  <xs:element name="integer" type="xs:integer" />
  <xs:element name="date" type="xs:date" />
  <xs:element name="htmlText" type="xs:string" />
  <xs:element name="multivalued" type="nxs:stringList" />

</xs:schema>
