nuxeo-platform-wiki/nuxeo-platform-wiki-webengine/src/main/resources/schemas/blog-site.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://project.nuxeo.org/schemas/webengine/site/blog"
        xmlns:tns="http://project.nuxeo.org/schemas/webengine/site/blog">

  <element name="accept-trackback" type="boolean"></element>
  <element name="accept-comment" type="boolean"></element>
  <element name="feedburner-id" type="string"></element>
  <element name="akismet-id" type="string"></element>
  <element name="google-analytics-id" type="string"></element>

</schema>