nuxeo-features/nuxeo-platform-collections/nuxeo-platform-collections-core/src/main/resources/schemas/collectionMember.xsd

<?xml version="1.0"?>

<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/collectionMember/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/common/"
  xmlns:ncolmxs="http://www.nuxeo.org/ecm/schemas/collectionMember/">

  <xs:complexType name="stringList">
    <xs:sequence>
      <xs:element name="collectionId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- references to classified docs -->
  <xs:element name="collectionIds" type="ncolmxs:stringList" />

</xs:schema>
